name: ci
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      matrix:
        include:
          - scala: 2.12.18
          - scala: 2.13.12
    steps:
    - uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: temurin
    - uses: actions/checkout@v4
    - uses: coursier/cache-action@v6
    - run: sbt -v
           "set Test / g8 / g8Properties ~= { _ + (\"scala_version\" -> \"${{ matrix.scala }}\")}"
           g8Test
